html { 
	height: 100%; 
	font-family: 'Open Sans', sans-serif;
}

body { 
	margin: 0; 
	position: relative; 
	background-color: #eceff1;
}

#firepad-container {
	width: 100%;
	height: 100%;
}

a {
	cursor: pointer;
}

.card-title {
	font-size: 2em !important;
	margin-bottom: 20px !important;
}

.card-action {
	position: absolute !important; 
	bottom: 0; 
	text-align: right; 
	width: 100%;
}

.container {
	height: 50vh;
	margin-top: 20px;
}

.CodeMirror {
	font-family: 'Open Sans', sans-serif;
}

a.powered-by-firepad {
	display: none;
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 80px;
	}
}

#hidden {
	position: relative;
	top: -100px;
	right: 50vw;
	width: 5px;
}

