html { 
	height: 90%; 
	font-family: 'Open Sans', sans-serif;
}

body { 
	height: 100%;
	margin: 0; 
	position: relative; 
	background-color: #eceff1;
}

#firepad-container {
	width: 100%;
	height: 100%;
}

a {
	cursor: pointer;
}

.monospace {
	padding: 0 4px 0 4px;
	font-family: monospace;
	background-color: #f0dabe;
}

.card-title {
	font-size: 2em !important;
	margin-bottom: 20px !important;
}

.card-action {
	position: absolute !important; 
	bottom: 0; 
	text-align: right; 
	width: 100%;
}

.container {
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	#editContainer {
		height: calc(100% - 40px);
	}
}

.CodeMirror {
	font-family: 'Open Sans', sans-serif;
}

a.powered-by-firepad {
	display: none;
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 80px;
		height: 60vh;
	}
}

#hidden {
	font-size: 16px;
	position: relative;
	top: -100px;
	right: 50vw;
	width: 5px;
}

