html { 
	height: 100%; 
	font-family: 'Open Sans', sans-serif;
}

body { 
	margin: 0; 
	position: relative; 
	background-color: #eceff1;
}

#firepad-container {
	width: 100%;
	height: 100%;
}

.card-title {
	font-size: 2em !important;
	margin-bottom: 20px !important;
}

.container {
	height: 50vh;
	margin-top: 20px;
}

.CodeMirror {
	font-family: 'Open Sans', sans-serif;
}

a.powered-by-firepad {
	display: none;
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 80px;
	}
}