<html>
	<head>
		<title>Together Test</title>
		<meta id="siteRoom" room="{{name}}">
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="/static/doc.js"></script>
		<script src="https://togetherjs.com/togetherjs-min.js"></script>

	</head>
	<body>
		<div class="input">
			<form>
				<textarea id="inputBox" placeholder="Type here to sync"></textarea>
			</form>
		</div>
		<div id="response">
		</div>
	</body>
</html>