<!doctype html>
<html>

<head>

	<meta charset="utf-8" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" type="text/css" href="/static/css/editor.css">

</head>

<body>

	<div class = "container">
		<div class = "card white" style = "height: 100%">
			<div class="card-content">
				<span class="card-title">Create a FireKey</span>
				<p>Welcome! It's easy to make a new collaborative notepad! More words about the notepad! By default, these notes last for 24 hours each, so they'd be good for shopping lists and the like. No I'm not letting you change that -- not now, lol. Maybe once this is all up and running!</p>
			</div>
			<div class="card-action" style="position: absolute; bottom: 0; text-align: right; width: 100%;">
              <a href="/create">Create FireKey</a>
            </div>
		</div>
	</div>

</body>
</html>