<!doctype html>
<html>

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" type="text/css" href="/static/css/editor.css">

</head>

<body>

	<div class = "container">
		<div class = "card white" style = "height: 100%">
			<div class="card-content">
				<span class="card-title">Create a Firekey</span>
				<p>Firekey is a temporary, collaborative notepad that's designed to be easy to share. Think of it like a Google Doc that's editable by anyone who has the link, except that link isn't so long it would take 30 seconds to say out loud. </p><br>
				<p>When you click the "create" button down below, you'll be given an empty note along with a short English word, and if anyone visits <span class="monospace">www.firekey.club/thatword</span> in a web browser (even on phones), they can edit that note with you in real-time. Since the key is just a word, it's easy to share with people around you when you can't copy-and-paste the link, like on a blackboard or in a grocery store.</p><br>
				<p>Each Firekey (and its corresponding note) will last for 24 hours after it's created, then self-destruct.</p><br>
				<p> The inspiration for this website came from <a href="http://www.shoutkey.com">ShoutKey</a>, which does a similar thing to shorten long URLs. </p><br><br>
			</div>
			<div class="card-action">
              <a href="/create">Create FireKey</a>
            </div>
		</div>
	</div>

</body>
</html>