<!doctype html>
<html>

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" type="text/css" href="/static/css/editor.css">

	<script>
		function copi() {
			var copyTextarea = document.getElementById('hidden');
			copyTextarea.select();
			document.execCommand('copy');
			copyTextarea.blur();
		}
	</script>

</head>

<body>

	<div class = "container">
		<div class = "card white" style = "height: 100%">
			<div class="card-content">
				<span class="card-title">Success</span>
				<p>Congrats, it worked out! Your new firekey is:</p><br>
				<p><span style = "font-size: 1.6em;">{{key}}</span></p><br>
				<p>More words about how to share it with your friends! As if you had any friends, lol.</p>
			</div>
			<div class="card-action">
				<a onclick = "copi()">Copy Link</a>
				<a href="/{{key}}">Start Editing</a>
            </div>
		</div>
	</div>

	<textarea id="hidden">http://www.firekey.club/{{key}}</textarea>

</body>
</html>